
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.db
.git/
.gitignore
.env
.pytest_cache/
.coverage
htmlcov/
scraper/cookies/*
!scraper/cookies/.gitkeep
airflow/logs/*
!airflow/logs/.gitkeep
**/node_modules/
.DS_Store
